/target
/fuzz/target
/fuzz/Cargo.lock
/_out
bindings/go/lib/*/
bindings/r/src/*.o
bindings/r/src/*.so
bindings/r/src/*.dll
bindings/r/.rlib/
bindings/r/..Rcheck/
**/*.node
__pycache__
bindings/wasm/pkg
dist
**/node_modules/
# .NET build artifacts
bin/
obj/
# Java build artifacts
bindings/java/target/

# Example build artifacts
examples/rust/target/
examples/c/build/
examples/java/target/
examples/csharp/**/bin/
examples/csharp/**/obj/
